<div class="modal" id="modalExcluirUsuario" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Excluir Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deseja mesmo excluir o registro?</p>
            </div>
            <div class="modal-footer">
                <button type="submit" value="Alterar" data-toggle="tooltip" title="Sim" onclick="excluirUsuario()">
                    <span class="glyphicon glyphicon-check"></span>
                </button>
                <button type="submit" value="Alterar" data-toggle="tooltip" title="Não" ata-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                </button>
            </div>
        </div>
    </div>
</div>